<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Zebu</title>
	</head>
	<body>
		<div><a href="/user/{{ .Me }}">Me</a></div>
		<br />
		<form action="/post" method="post">
			<textarea name="post" rows="12" cols="100"></textarea>
			<br/>
			<input type="submit" value="Submit">
		</form>
		<form action="/follow" method="post">
			<textarea name="followee" rows="2" cols="64"></textarea>
			<br/>
			<input type="submit" value="Follow">
		</form>
		<br/>
		{{range .Posts}}
		<div>{{ .RenderedContent }}</div>
		<div><a href="/user/{{ .Author }}">{{ .Author }}</a> at {{ .Created }}</div>
		<br />		
        {{else}}
        <div><strong>No Posts</strong></div>
        {{end}}
	</body>
</html>`