<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ .UserPublicName }}</title>
		<link href="/static/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3">
        <script src="/static/web3.min.js"></script>
    </head>
	<body>
	    <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="#">Zebu</a>
				<button id="connect-btn" class="btn btn-primary" onclick="connect()">Connect to MetaMask</button>
			</div>
    	</nav>
		<div><a href="/user/{{ .UserPublicName }}">{{ .UserPublicName }}</a></div>
		<br />
		<!-- only show if no name is set -->
		<form id="register-form" onsubmit="saveregister(event)" >
			<textarea name="register" rows="1" cols="64"></textarea>
			<br/>
			<input type="submit" value="Register">
		</form>
		<form  id="post-form" onsubmit="savepost(event)" >
			<textarea id="post-text" name="post" rows="12" cols="100"></textarea>
			<br/>
			<input type="file" name="images" accept="image/*" multiple> 
			<br/>
			<input type="submit" value="Submit">
		</form >
		<div name="output" ></div>
		<br/>
		{{range .Posts}}
		<div>{{ .RenderedContent }}</div>
		{{range .Images}}
		<img src="/img/{{.}}" width="100"/>
		{{end}}
		<div><a href="/user/{{ .Author }}">{{ .Author }}</a> at {{ .PrettyCreated }}</div>
		<br />		
        {{else}}
        <div><strong>No Posts.</strong> Maybe find <a href="/rand">some randos</a> to follow?</div>
        {{end}}
		<!-- credit view-source:https://shobhitic.github.io/ethsign/ -->
		<script type="text/javascript">
		var account = "{{ .Reader }}";
		var accountKey = "{{ .ReaderKey }}";
		if (account != "") {
			var connectBtn = document.getElementById('connect-btn')
			connectBtn.disabled = true
			connectBtn.textContent = account
			if (account.startsWith("0x")) {
				connectBtn.textContent = account.substr(0, 6) + "..." + account.substr(38)
			} else {
				document.getElementById('register-form').hidden = true
			}
		} else {
			document.getElementById('post-form').hidden = true
			document.getElementById('register-form').hidden = true
		}
		window.w3 = new Web3(window.ethereum)
		const savepost = async (event) => {
			event.preventDefault()
			var formData = new FormData(event.target)
			formData.append("account", account)
			console.log(formData)
			var response = await fetch("post", { method: "POST", body: formData}  )
			var r2 = response.clone()
			var data = await response.json()
			//error if data already has signature?
			var rawjson = await r2.text()
			console.log("rawjson: " + rawjson)
			var signature = await w3.eth.personal.sign(rawjson, accountKey)
			data.Signature = signature
			console.log(data)
			response = await fetch("/sign", { method: "POST", body: JSON.stringify(data)}  )
			console.log(response)
			location.reload()
		}
		const saveregister = async (event) => {
			event.preventDefault()
			var formData = new FormData(event.target)
			formData.append("account", account)
			console.log(formData)
			var response = await fetch("/register", { method: "POST", body: formData}  )
			var r2 = response.clone()
			var data = await response.json()
			var rawjson = await r2.text()
			console.log("rawjson: " + rawjson)
			var signature = await w3.eth.personal.sign(rawjson, accountKey)
			data.Signature = signature
			console.log(data)
			response = await fetch("/sign", { method: "POST", body: JSON.stringify(data)}  )
			console.log(response)
			location.reload()
		}
		const connect = async () => {
			if (window.ethereum) {
				await window.ethereum.send('eth_requestAccounts');
				var accounts = await w3.eth.getAccounts();
				account = accounts[0];			
				var connectBtn = document.getElementById('connect-btn')
				document.cookie = "zebu_account=" + account;
				console.log("set cookie zebu_account=" + account)	
				location.reload()
			} else {		
				alert('MetaMask is not installed!');
			}
		}
    </script>
	</body>
</html>