<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Zebu</title>
		<link href="/static/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3">
        <script src="/static/web3.min.js"></script>
    </head>
	<body>
	    <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="#">Zebu</a>
				<button id="connect-btn" class="btn btn-primary" onclick="connect()">Connect to MetaMask</button>
			</div>
    	</nav>
		<div>Connect above to post</div>
		{{range .Posts}}
		<div>{{ .RenderedContent }}</div>
		{{range .Images}}
		<img src="/img/{{.}}" width="100"/>
		{{end}}
		<div><a href="/user/{{ .Author }}">{{ .Author }}</a> at {{ .Created }}</div>
		<br />		
        {{else}}
        <div><strong>No Posts</strong></div>
        {{end}}
		<script type="text/javascript">
      var account = null;
      const connect = async () => {
        if (window.ethereum) {
          await window.ethereum.send('eth_requestAccounts');
          window.w3 = new Web3(window.ethereum);

          var accounts = await w3.eth.getAccounts();
          account = accounts[0];
          
          var connectBtn = document.getElementById('connect-btn')
          connectBtn.disabled = true
          document.cookie = "zebu_account=" + account;
		  console.log("set cookie zebu_account=" + account)
		  window.location.reload()
		} else {		
		  alert('MetaMask is not installed!');
		}
      }

    </script>
	</body>
</html>