<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Zebu</title>
		<link href="/static/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3">
        <script src="/static/web3.min.js"></script>
    </head>
	<body>
	    <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="#">Zebu</a>
				<button id="connect-btn" class="btn btn-primary" onclick="connect()">Connect to MetaMask</button>
			</div>
    	</nav>
		<form onsubmit="follow(event)" >
			<input type="hidden" name="followee" value="{{ .Author }}">
			<input id="follow-btn" type="submit" value="Follow">
		</form>
		<br>
		{{range .Posts}}
		<div>{{ .RenderedContent }}</div>
		{{range .Images}}
		<img src="/img/{{.}}" width="100"/>
		{{end}}
		<div><a href="/user/{{ .Author }}">{{ .Author }}</a> at {{ .Created }}</div>
		<br />		
        {{else}}
        <div><strong>No Posts</strong></div>
        {{end}}
		<script type="text/javascript">
		window.w3 = new Web3(window.ethereum)
		var account = "{{ .Reader }}";
		var accountKey = "{{ .ReaderKey }}";
		if (account != "") {
			var connectBtn = document.getElementById('connect-btn')
			connectBtn.disabled = true
			connectBtn.textContent = account
			if (account.startsWith("0x")) {
				connectBtn.textContent = account.substr(0, 6) + "..." + account.substr(38)
			}
			
		}
		if ("{{ .Followed }}" == "true") {
			var followBtn = document.getElementById('follow-btn')
			followBtn.disabled = true
			followBtn.textContent = "followed"
		}
		
		const connect = async () => {
			if (window.ethereum) {
				await window.ethereum.send('eth_requestAccounts');
				var accounts = await w3.eth.getAccounts();
				account = accounts[0];			
				var connectBtn = document.getElementById('connect-btn')
				document.cookie = "zebu_account=" + account;
				console.log("set cookie zebu_account=" + account)	
				location.reload()
			} else {		
				alert('MetaMask is not installed!');
			}
		}
		const follow = async (event) => {
			event.preventDefault()
			var formData = new FormData(event.target)
			formData.append("account", account)
			console.log(formData)
			var response = await fetch("/follow", { method: "POST", body: formData}  )
			var r2 = response.clone()
			var data = await response.json()
			var rawjson = await r2.text()
			console.log("rawjson: " + rawjson)
			data.Signature = await w3.eth.personal.sign(rawjson, accountKey)
			console.log(data)
			response = await fetch("/sign", { method: "POST", body: JSON.stringify(data)}  )
			console.log(response)
			var followBtn = document.getElementById('follow-btn')
			followBtn.disabled = true
			followBtn.textContent = "followed"
			//todo unfollow         
		}

		
    </script>
	</body>
</html>